.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 40px 20px;
  @include defaultShadow;
}

.input-container {
  margin-bottom: 20px;

  &__title {
    margin-bottom: 1rem !important;
  }
}
